main {
    width: 100vw;
}


/*SECTION ACCUEIL*/
h1 {
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    color: #3B5D82;
    align-items: flex-end;
}


#accueil {
    display: flex;
    background-image: url(../img/bgcv.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 50em;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    align-content: flex-start;

}

/* SECTION ACCUEIL COORDONNES */
#titreaccueil {
    font-size: 3em;
    color: white;
}

#cor2 {
    color: #090536;
    font-size: 3em;
    text-decoration: underline;
}


#cor3 {
    color: white;
    align-items: center;
    font-size: 2em;
    font-family: serif;
}

/*SECTION A PROPOS */
#apropos {
    background-color: #090536;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height: 80em;

}
#citation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height 10em;
    color: #9A7A7A;
    font-size: 2em;

}

#photo {
    border-radius: 50em;
    width: 30em;
    height: 30em;
}

#apropos1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

}

#titreapropos {
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 3em;
    font-family: serif;
    text-align: center;
    text-decoration: underline;
    justify-content: flex-end;
}

#texte {
    display: flex;
    flex-wrap: wrap;
    width: 60em;
    font-size: 2em;
    text-align: center;
    color: white;

}

/*SECTION OUTILS*/
#outil {
height: 40em;
width: 100vw;
    
    
}
#titreoutil{
    color: #090536;
    font-size: 2em;
    
}
.logooutil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #090536;
    border: 1em solid #090536;
    margin: 2em;
}

.nom {
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    font-size: 0.5em;
}

/* SECTION CONTACT*/
#contact {
    display: flex;
    justify-content: center;
}

#qcontact {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #0C083A;
}

.contact {
    font: 1em Arial, Helvetica, sans-serif;
    max-width: 60em;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}

.contact h3 {
    color: #0C083A;
    background: #FFF;
    padding: 20px 0;
    font-size: 5em;
    font-weight: 300%;
    text-align: center;
    margin: -16px -16px 16px -16px;
}

.contact input[type="text"],
.contact input[type="date"],
.contact input[type="datetime"],
.contact input[type="mail"],
.contact input[type="number"],
.contact input[type="search"],
.contact input[type="time"],
.contact input[type="url"],
.contact textarea,
.contact select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 60em;
    background: #fff;
    margin-bottom: 1em;
    border: 1em solid #DFE3D5;
    padding: 3%;
    font: 1em Arial, Helvetica, sans-serif;
    
}

.contact input[type="text"]:focus,
.contact input[type="date"]:focus,
.contact input[type="datetime"]:focus,
.contact input[type="mail"]:focus,
.contact input[type="number"]:focus,
.contact input[type="search"]:focus,
.contact input[type="time"]:focus,
.contact input[type="url"]:focus,
.contact textarea:focus,
.contact select:focus {
    box-shadow: 0 0 5px #0C083A;
    padding: 2em;
    border: 1em solid #1F0D29;

}

                   
.contact input[type="envoyer"],
.contact input[type="button"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 2em;
    background: #E0E0E0;
    border-bottom: 1em solid #0C083A;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    
}

.contact input[type="envoyer"]:hover,
.contact input[type="button"]:hover {
    background: #FFF;

}
